/*General*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgb(235, 77, 77) 100%);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

/*Players*/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    color: #EB4D4D;
    margin-bottom: 130px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.active {
    background-color: #f1f1f1;
}

.active .player-name {
    font-weight: 600;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3%;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(44, 44, 44);
    font-weight: 600;
}

.player-current-score {
    font-size: 30px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(58, 58, 58);
    background: none;
    border: none;
    font-family: Lato;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.button:hover {
    font-weight: 800;
}

.button:hover i {
    margin-right: 20px;
}

.button:focus {
    outline: none;
}

.btn {
    background-color: rgba(235, 77, 77, 0)
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
    font-weight: 900
}

.btn-new {
    top: 50px;
}

.btn-roll {
    top: 403px;
}

.btn-hold {
    top: 467px;
}

.dice {
    display: none;
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner {
    background: rgb(224, 224, 224);
}

.winner .player-name {
    font-size: 50px;
    font-weight: 600;
    color: #EB4D4D;
    margin-top: 40px
}

.winner .player-current-box,
.winner .player-current-label,
.winner .player-current-score {
    display: none;
}

@media(max-width: 1024px) {
    .wrapper {
        width: 700px;
        top: 35%;
    }

    .active .player-name::after {
        left: 155px;
    }

    .player-name {
        font-size: 40px;
        margin-top: 10px
    }

    .player-score {
        font-size: 70px;
        margin-bottom: 40px
    }

    .player-current-box {
        width: 90px;
        margin-bottom: 10px
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        top: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    .player-0-panel,
    .player-1-panel {
        width: 100%;
        height: 190px;
        padding: 10px
    }

    .player-1-panel {
        margin-bottom: 180px
    }

    .active .player-name::after {
        left: 200px;
        top: -24px
    }

    .player-name {
        font-size: 20px;
        margin-top: 2px;
        margin-bottom: 2px
    }

    .player-score {
        font-size: 45px;
        margin-bottom: 5px
    }

    .player-current-box {
        width: 95px;
        margin: 0 auto;
        padding: 6px;
    }

    .player-current-label {
        margin-bottom: 0px;
        font-size: 10px;
    }

    .player-current-score {
        font-size: 30px;
    }

    .button {
        position: absolute;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dice {
        top: 400px;
        height: 80px;
        box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.26);
    }

    .btn-new,
    .btn-hold,
    .btn-roll {
        top: 500px;
    }

    .btn-new {
        left: 50px;
    }

    .btn-roll {
        left: 170px;
    }

    .btn-hold {
        left: 280px;
    }

}